<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="google-signin-client_id" content="316618755185-9mnv6f5eedkquuh3e1tnmqk8rlfaopp6.apps.googleusercontent.com.apps.googleusercontent.com">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <title>LinkMe</title>

</head>
<body id="samples">
<div>
<nav class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li><a href="/">LinkMe</a></li>
            {% if oidc.user_loggedin %}
            <li><a id="profile-button" href="{{ url_for("profile") }}">My Profile</a></li>
            {% endif %}            
        </ul>
        {% if oidc.user_loggedin %}
        <form method="post" action="{{ url_for("logout") }}" class="navbar-form navbar-right">
            <button id="logout-button" type="submit" class="btn btn-danger">Logout</button>
        </form>
        {% endif %}
</nav>
</div>


</body>
<div>

    {% block content %}{% endblock %}

</div>
</html>
